.c-page-image {	
  position: relative;
  margin-bottom: 48px;
  border-radius: 16px;
  overflow: hidden;
  background: $blue-gray;
  width: 100%; 

  img {
    display: block; 
    width: 100%;
    height: auto; 
    min-height: 280px; 
    object-fit: contain; 
    user-select: none;
  }

  @media only screen and (max-width: $desktop) {
    margin-bottom: 40px;
  }

  @media only screen and (max-width: $mobile) {
    margin-bottom: 32px;
  }
}
